*.class

# Package Files #
*.jar
*.war
*.ear
/bin
/Armazem
/Talk/nbproject/private/
/Talk/build/
/Talk/dist/
/ServerMcs/nbproject/private/
/Servidor/nbproject/private/
/Cliente/nbproject/private/
/Cliente/dist/
/Cliente/build/
/Servidor/build/
/Servidor/dist/